body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

.subscription-card {
    background: linear-gradient(to bottom right, #b6e48d, #fff999);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.subscription-card h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.subscription-card p {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

form {
    margin-top: 20px;
}

.payment-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px; /* Increased space between payment options */
}

.payment-option input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.payment-option label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.payment-logo {
    width: 32px;  /* Slightly larger logo for clearer visibility */
    height: auto;
    margin-right: 10px;
    border-radius: 15px;
}

.pay-button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pay-button:hover {
    background-color: #0056b3;
}
